*{
  box-sizing      : border-box;
  list-style-type : none;
  margin          : 0;
  padding         : 0;
}

.imagen {
  max-height      : 30px;
  max-width       : 30px ;
  margin          : auto;
}

section {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

input .boton { 
  margin-right: 1mm;
  margin-left: 100%;
}

.autor {
  color: blue !important;
  font-weight: bolder !important;
}

.mensaje {
  color: green !important;
  font-style: italic;
}

.time {
  color: saddlebrown !important;
}